<div class="page-header">
  <%= link_to administrador_grupo_acessos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @administrador_grupo_acesso, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar</h1>
</div>

<%= render 'form' %>
