<div class="page-header">
  <%= link_to administrador_grupo_acessos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo administrador_grupo_acesso</h1>
</div>

<%= render 'form' %>
