<div class="page-header">
  <%= link_to administrador_grupo_acessos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_administrador_grupo_acesso_path(@administrador_grupo_acesso), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar administrador_grupo_acesso</h1>
</div>

<dl class="dl-horizontal">
  <dt>Administrador:</dt>
  <dd><%= @administrador_grupo_acesso.administrador %></dd>
  <dt>Grupo acesso:</dt>
  <dd><%= @administrador_grupo_acesso.grupo_acesso %></dd>
</dl>
