development:
  adapter: async

test:
  adapter: test

production:
  adapter: redis
  url: <%= ENV.fetch("REDISCLOUD_URL") { "redis://localhost:6379" } %>
  channel_prefix: admin_skal_mercado_24hrs_production
