<div class="page-header">
  <%= link_to ajuste_programados_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo Ajuste Programado</h1>
</div>
<%= render 'form' %>
